body { background: #aa13dc; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 18px; display: flex; }
.block-logger-0 { color: #8e469a; font-size: 14px; margin-bottom: 5px; }
.block-shipping-1 { color: #338370; font-size: 17px; margin-bottom: 5px; }
.block-cart-2 { color: #109273; font-size: 15px; margin-bottom: 5px; }
.block-token-3 { color: #ba96e6; font-size: 21px; margin-bottom: 5px; }
.block-metrics-4 { color: #f6c482; font-size: 18px; margin-bottom: 5px; }
.block-uploader-5 { color: #ea27d6; font-size: 19px; margin-bottom: 5px; }